body {
  font-family: Roboto, sans-serif;
  background-color: #0d1117;
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

a {
  color: #3385ff;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

.app-container {
  max-width: 1200px;
  width: 100%;
  padding: 1em
}

.navbar-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar {
  font-weight: 700;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.navbaritem-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.75);
  border-radius: 1em;
  margin: 0.5em;
  cursor: pointer;
  padding: 3em;
}

.navbaritem-container:hover {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0);
  border-radius: 1em;
  margin: 0.5em;
  cursor: pointer;
}

.navbaritem-image {
  width: 14em;
  margin: auto;
  height: auto;
}

.navbaritem-title {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0px;
}

.navbaritem-description {
  font-size: 1em;
  font-weight: 300;
  margin: 0px;
  max-width: 12em;
}

.canvas-container {
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation: show 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(1.1);
}

@keyframes show {
  from {
    margin-top: 50px;
  } 
  to {
    margin-top: 0px;
  }
}

.nav-link {
  color: rgba(255, 255, 255, 0.664);
  text-decoration: none;
  margin: 0.5em;
  font-size: 1.25em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.664);
  padding: 10px
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* Active link style */
.nav-link-active {
  color: #3385ff;
  border-bottom: 1px solid #3385ff;
}

.nav-link-active:hover {
  color: #3385ff;
  border-bottom: 1px solid #3385ff;
}

.sidebar {
  width: 200px;
  background-color: #161b22;
  padding: 20px;
  position: fixed;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  border-radius: 15px;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: #c9d1d9;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #58a6ff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 240px;
  padding: 20px;
  flex-grow: 1;
}

.content .section {
  margin: 20px 0;
}

.artwork {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #30363d;
  text-align: left;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #21262d;
}

h1, h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
}

h1:hover, h2:hover {
  color: #58a6ff;
}

.toggle-icon {
  margin-right: 10px;
  transition: transform 0.3s;
}

h1:hover .toggle-icon, h2:hover .toggle-icon {
  color: #58a6ff;
}

.section-content {
  margin-top: 10px;
}

.placeholder {
  width: 100%;
  height: 200px;
  background-color: #30363d;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%);
  }
  .menu-icon {
      display: block;
  }
  .overlay {
      display: block;
      visibility: hidden;
  }
  .sidebar.active {
      transform: translateX(0);
  }
  .overlay.active {
      visibility: visible;
  }
  .content {
      margin-left: 0;
      padding: 20px;
  }
}